.catalog{
    margin-top: -6rem;
    width: 100vw;
    min-height: 542px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font: var(--body-text);
        color: var(--gray);
    }

}

.products{
    display: flex;
    gap: 1.125rem;

   
}

.coffees{
    background-color: #FFF9F1;
    border: 1px solid rgba(249, 192, 106, 42%);
    display: flex;
    min-height: 364px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;


    button{
        cursor: pointer;
    }
}

.btn-position{
    transform: translateY(50%);
}

.coffees:hover{
    border: 1px solid rgba(249, 192, 106, 100%);
}

.coffees-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;

    .info-text{
        font: var(--coffee-info-text);
    }
}

.price{
    color: var(--brown);
    font: bold 1.125rem/1.2rem var(--font-family-playfair);
}